<launch>
    <node name="global_joy_node" pkg="joy" type="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0" />
        <param name="deadzone" value="0.05" />
        <param name="autorepeat_rate" value="20" /> 
    </node>

    <node pkg="super_coffee_car_bringup" type="teleop_mode_switch.py" name="teleop_mode_switch_node" output="screen" />


    <include file="$(find super_coffee_car_bringup)/launch/super_coffee_car_bringup.launch" />

    <node pkg="super_coffee_car_bringup" type="gamepad_teleop.py" name="gamepad_teleop" output="screen">
        <param name="linear_speed"  value="0.35" />
        <param name="angular_speed" value="0.5" />
        <param name="stepper_rpm"   value="120.0" />
    </node>


    <include file="$(find abb_driver)/launch/dm_bringup.launch" />

    <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node">
        <remap from="joy" to="/arm_joy_cmd" />
        <remap from="cmd_vel" to="/raw_cmd_vel" />
        <rosparam command="load" file="$(find arm_moveit_config)/config/teleop.yaml" />
    </node>

    <node name="gamepad_adapter" pkg="abb_driver" type="gamepad_to_servo.py" output="screen" />

    <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen">
        <rosparam command="load" file="$(find arm_moveit_config)/config/servo_config.yaml" />
        <rosparam command="load" file="$(find arm_moveit_config)/config/joint_limits.yaml" />
        <rosparam command="load" file="$(find arm_moveit_config)/config/kinematics.yaml" />
    </node>

    <node name="servo_to_motor" pkg="abb_driver" type="servo_to_motor.py" output="screen" />

</launch>